In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd. read_csv('../data/RAW_us_deaths.csv')

In [3]:
df.head()

,Province_State,Admin2,UID,iso2,iso3,code3,FIPS,Country_Region,Lat,Long_,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,Alabama,Autauga,84001001,US,USA,840,1001.0,US,32.539527,-86.644082,...,230,232,232,232,232,232,232,232,232,232
1,Alabama,Baldwin,84001003,US,USA,840,1003.0,US,30.727750,-87.722071,...,724,726,726,726,726,726,726,726,727,727
2,Alabama,Barbour,84001005,US,USA,840,1005.0,US,31.868263,-85.387129,...,103,103,103,103,103,103,103,103,103,103
3,Alabama,Bibb,84001007,US,USA,840,1007.0,US,32.996421,-87.125115,...,109,109,109,109,109,109,109,109,109,109
4,Alabama,Blount,84001009,US,USA,840,1009.0,US,33.982109,-86.567906,...,261,261,261,261,261,261,261,261,261,261

In [4]:
df_0 = df[['Province_State','UID','2/28/23','3/1/23','3/2/23']]
df_0.shape

(3342, 5)

In [7]:
df_1 = df_0[df_0['Province_State'] == 'New Hampshire']
#df_1.count()
#df_1.isnull().sum()

In [8]:
df_1.shape

(12, 5)

In [9]:
df_2 = df_1.rename(columns={'2/28/23' : 'feb', '3/1/23':'mar1', '3/2/23' : 'mar2'}) 
df_2.head()

     Province_State       UID  feb  mar1  mar2
1832  New Hampshire  84033001  217   217   217
1833  New Hampshire  84033003   75    75    75
1834  New Hampshire  84033005  134   134   134
1835  New Hampshire  84033007  134   134   134
1836  New Hampshire  84033009  103   103   103